
:root{
    --corFundo: rgb(92, 92, 240);
    --corFundo2: #ac58bd;
    --corFundo3: #4d4d4d;

}

h1{
    font-size: 35px;
    font-family: Tahoma;
}

body {
    text-align: center;
    font-family: Tahoma;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--corFundo),var(--corFundo2)) no-repeat;
    background-size: cover;
   
}
section{ 
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    background-color: var(--corFundo3);
    align-items: center;
    justify-content: center;
}
input{
    margin: 5px;
    border-radius: 7px;
    border: none;
    background-color: gray;
   

}

/*botões de registrar e de login*/

#Registrar-se, #Login{

    border: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: #ac58bd;
    color: white;
    padding: 15px;
    width: 90%;
    transition-duration: 0.4s;
}

/*mouse por cima*/
#Registrar-se:hover, #Login:hover{
    background-color:rgb(165, 0, 151);
    color: white;
}
